.recommendList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1vw;
}

.articleBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    transition: 0.2s;
    background-color: var(--contentBg);
}

.articleBox:hover {
    background-color: var(--contentBgHover);
    box-shadow: 5px 5px 8px #111;
}

.articleThumbnailBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
    overflow: hidden;
}

.articleThumbnail {
    width: 100%;
}

.articletitle {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 5%;
}

@media (max-width: 320px) {
    .recommendList {
        grid-template-columns: repeat(auto-fit, 280px);
    }
    .articleBox {
        height: 200px;
    }
}