.authorPage {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.userInfo {
    width: 30%;
    height: 100%;
}

.userProfile {
    width: 80%;
    height: auto;
}



/* .userName {

} */

/* .vr {
    background-color: var(--contentText);
    width: 1px;
    height: 99%;
} */

.userArticleList {
    position: relative;
    width: 60%;
}

.userArticleList::before {
    position: absolute;
    left: -3vw;
    content: '';
    width: 1px;
    height: 99%;
    background-color: var(--contentText);
}

.userArticle {
    display: flex;
    width: 100%;
    height: 200px;
}

.articleThumbnail {}

.articleBox {
    height: 100%;
}

.articleTitle {}

.articleContent {
    height: 60%;
    overflow: hidden;
}